{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Відновлення пароля</title>
    <link rel="icon" type="image/png" href="{% static 'main/images/car-side-solid.svg' %}">
    <link rel="stylesheet" href="{% static 'users/css/password_reset_form.css' %}">
</head>
<body>
    <div class="auth-container">
        <a href="{% url 'users:authentication' %}">
            <img id="exit" src="{% static 'users/images/circle-xmark-solid.svg' %}" alt="вихід">
        </a>
        <div class="auth-box">
            <h2>Відновлення пароля</h2>
            <p>Введіть email-адресу, на яку буде надіслано посилання для зміни пароля.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Надіслати посилання</button>
            </form>
        </div>
    </div>
</body>
</html>
