{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Відновлення пароля</title>
    <link rel="icon" type="image/png" href="{% static 'main/images/car-side-solid.svg' %}">
    <link rel="stylesheet" href="{% static 'users/css/password_reset_confirm.css' %}">
</head>
<body>
    <div class="auth-container">
        <a href="{% url 'main:home' %}">
            <img id="exit" src="{% static 'users/images/circle-xmark-solid.svg' %}" alt="вихід">
        </a>
        <div class="auth-box">
            <h1>Зазначте Ваш новий пароль</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">Новий пароль</label>
                    <div class="password-container">
                        {{ form.new_password1 }}
                        <button type="button" id="first" class="toggle-password">️️👁️</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">Новий пароль (підтвердження)</label>
                    <div class="password-container">
                        {{ form.new_password2 }}
                        <button type="button" class="toggle-password">️️👁️</button>
                    </div>
                </div>
                <button type="submit" class="btn">Змінити пароль</button>
            </form>
        </div>
    </div>
    <script src="{% static 'users/js/toggle_new_password.js' %}"></script>
    <script src="{% static 'users/js/check_passwords.js' %}"></script>
</body>
</html>
