{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Відновлення пароля</title>
    <link rel="icon" type="image/png" href="{% static 'main/images/car-side-solid.svg' %}">
    <link rel="stylesheet" href="{% static 'users/css/password_reset_done.css' %}">
</head>
<body>
    <div class="block">
        <p>Пароль успішно змінено.</p>
        <div class="go">
            <a href="{% url 'users:authentication' %}">Перейти до аутентифікації</a>
        </div>
    </div>
</body>
</html>
