{% extends 'main/base.html' %}
{% load static %}

{% block title %}Про нас{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'main/css/about.css' %}">{% endblock %}

{% block content %}
<div class="blue"></div>
<div class="about-container">
    <h1 id="about">Трохи інформації про нас</h1>
    <div class="about-content">
        <section class="intro">
            <h2>Хто ми?</h2>
            <p>CarTrade – молода та амбітна компанія, заснована у 2025 році, що спеціалізується на продажу та купівлі автомобілів. Наша мета – створити зручну платформу, яка спрощує процес купівлі чи продажу авто.</p>
        </section>
        <section class="mission">
            <h2>Наша місія</h2>
            <p>Ми прагнемо стати провідною платформою на ринку, об'єднуючи продавців та покупців у зручному онлайн-середовищі. Кожного дня ми намагаємось стати кращими за наших конкурентів.</p>
        </section>
        <section class="mission">
            <h2>Наші цінності</h2>
            <p>Кінцевий користувач – основна цінність для нас. Ми продовжуємо працювати над впровадженням нових функцій та покращенням вже існуючих, щоб створити Ваш користувацький досвід ще кращим.</p>
        </section>
    </div>
</div>
<div class="blue"></div>
{% endblock %}
