{% extends 'main/base.html' %}
{% load static %}

{% block title %}Контакти{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'main/css/contacts.css' %}">{% endblock %}

{% block content %}
<div class="blue"></div>
<div class="contacts-container">
    <h1 id="contacts">Наші контакти</h1>
    <div class="contacts-content">
        <section class="contact-info">
            <h2>Як з нами зв’язатися?</h2>
            <p><strong>Телефон:</strong> +1 (555) 123-4567</p>
            <p><strong>Email:</strong> support@cartrade.com</p>
            <p><strong>Адреса:</strong> 123 CarTrade Street, NY, USA</p>
        </section>
    </div>
</div>
<div class="map-container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.8578793166525!2d-74.00601588459402!3d40.71277597933011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a17f5e74a61%3A0x3c83a42a4033b5e6!2s123%20CarTrade%20Street%2C%20New%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sus!4v1642512456679"
        width="92.5%"
        height="282"
        style="border:0;"
        allowfullscreen=""
        loading="lazy">
    </iframe>
</div>
<div class="blue"></div>
{% endblock %}
