p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 18px;
}

.block {
    display: flex;
    justify-content: left;
}

.go {
    margin-left: 6px;
    margin-top: 25px;
}

a {
    color: #3b82f6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
